extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li
      button#addAnim Add an animation
    li
      button#deleteAnim Delete an animation
    li
      button#listAnim List animations



block libraries
  script(src='../javascripts/animations.js')
  script(src='../javascripts/jquery.sheepItPlugin-1.1.1.min.js')